# Compiled output
/dist
/tmp
/out-tsc

# Dependencies
/node_modules

# Logs
npm-debug.log*
yarn-error.log*

# IDEs and editors
.idea/
.vscode/
*.sublime-workspace
*.DS_Store
.project
.classpath
.c9/

# Miscellaneous
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log